lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log

# OS files
.DS_Store
Thumbs.db

# grunt-html-validation
validation-status.json
validation-report.json

# Folders to ignore
/node_modules/
/dist/
